<%- include("partials/header") -%>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="py-5">Contact Us </h1>
            </div>
            <div class="col-12">
                <p tc-black class="fs-4">
                    <%= contactUs %>
                </p>
            </div>
        </div>
    </div>
    <%- include("partials/footer") -%>